/* auth */
.auth {
	padding: 57px 0;
}

.auth-page {
	position: relative;
	background: url(../img/bg-lines-left.svg) no-repeat left/contain, url(../img/bg-lines-right.svg) no-repeat right/contain;
}

.auth__title {
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: var(--semi);
	line-height: 1.38;
}

.auth__row {
	--auth-gutter-x: 24px;
	margin-right: calc(var(--auth-gutter-x) * -.5);
	margin-left: calc(var(--auth-gutter-x) * -.5);
}

.auth__row > * {
	padding-right: calc(var(--auth-gutter-x) * .5);
	padding-left: calc(var(--auth-gutter-x) * .5);
}

.auth__row + .auth__row {
	position: relative;
	padding-top: 22px;
}

.auth__row + .auth__row::after {
	content: '';
	position: absolute;
	top: 0;
	left: calc(var(--auth-gutter-x) * .5);
	right: calc(var(--auth-gutter-x) * .5);
	border-top: 1px solid var(--border);
}

.auth__row:last-child {
	margin-bottom: -22px;
}

.auth__group {
	margin-bottom: 22px;
}

.auth__btn {
	min-width: 100px;
}

/* register */
.register {
	max-width: 887px;
}

.register__box {
	margin-bottom: 20px;
}

.register__note {
	margin-right: 30px;
}

/* login */
.login {
	max-width: 340px;
}

.login__box {
	margin-bottom: 25px;
}

/* dashboard */
.dashboard {
	padding: 30px 0;
}

/* top-bar */
.top-bar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: var(--light-gray);
	border-radius: var(--radius);
}

.top-bar__crumbs {
	padding-right: 20px;
}

/* breadcrumb */
.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	padding: 4px 0;
	font-size: 24px;
	font-weight: var(--semi);
	line-height: 1.25;
	color: var(--gray);
}

.breadcrumb__item {
	padding-top: 4px;
	padding-bottom: 4px;
}

.breadcrumb__item:not(:last-child) {
	position: relative;
	margin-right: 15px;
	padding-right: 15px;
}

.breadcrumb__item:not(:last-child)::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	height: 20px;
	width: 1px;
	border-right: 1px solid var(--gray);
}

.breadcrumb__item.active {
	pointer-events: none;
	color: var(--text);
}

.breadcrumb__link:hover {
	color: var(--text);
}

/* board */
.board__row {
	--board-gutter-x: 20px;
	margin-right: calc(var(--board-gutter-x) * -.5);
	margin-left: calc(var(--board-gutter-x) * -.5);
}

.board__row > * {
	padding-right: calc(var(--board-gutter-x) * .5);
	padding-left: calc(var(--board-gutter-x) * .5);
}

/* board--pre */
.board--pre .dash-card {
	pointer-events: none;
	background: var(--light-gray);
	color: var(--gray);
}

.board--pre .dash-card__head,
.board--pre .dash-card__icon,
.board--pre .tickets-info__label {
	color: inherit;
}

.board--pre .dash-card__head {
	border-color: #E4E4E4;
}

.board--pre .btn--primary {
	background-color: transparent;
	border-color: #E4E4E4;
	color: inherit;
}

/* dash-card */
.dash-card {
	margin-bottom: 20px;
	background-color: var(--white);
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
}

.dash-card__head {
	cursor: grab;
	padding: 15px 13px 15px 44px;
	border-bottom: 1px solid var(--border);
	background: url(../img/ico-grab.svg) no-repeat center left 10px;
	color: var(--primary);
}

.dash-card__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: var(--semi);
	line-height: 1.25;
}

.dash-card__body {
	padding: 20px;
}

.dash-card__item + .dash-card__item {
	border-top: 1px solid var(--border);
}

.dash-card__link {
	display: flex;
	align-items: center;
	padding: 11px 10px;
	line-height: 1.25;
}

.dash-card__link:hover {
	background-color: var(--primary-thin);
}

.dash-card__icon {
	display: inline-flex;
	margin-right: 10px;
	color: var(--primary);
}

/* tickets-info */
.tickets-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 20px 15px;
	text-align: center;
}

.tickets-info + .tickets-info {
	border-left: 1px solid var(--border);
}

.tickets-info__label {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.tickets-info__label--succsess {
	color: var(--green);
}

.tickets-info__label--danger {
	color: var(--primary);
}

.tickets-info__icon {
	display: inline-flex;
}

.tickets-info__count {
	min-width: 24px;
	font-size: 18px;
	line-height: 24px;
}

.tickets-info__title {
	line-height: 1.25;
}

/* tooltip */
.tooltip {
	cursor: pointer;
	position: relative;
	display: inline-flex;
}

.tooltip:hover::before {
	opacity: 1;
	visibility: visible;
}

.tooltip::before {
	content: attr(data-content);
	position: absolute;
	bottom: calc(100% + 5px);
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
	transition: var(--transition);
	width: max-content;
	max-width: 200px;
	padding: 15px;
	background-color: var(--white);
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
	color: var(--text);
	font-size: 14px;
	opacity: 0;
	visibility: hidden;
}

/* modal */
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 300;
	background-color: rgba(0, 0, 0, 0.2);
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.15s linear;
}

.modal--show {
	opacity: 1;
	visibility: visible;
}

.modal--show .modal__dialog {
	transform: none;
}

.modal__dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	margin: auto;
	padding: 20px;
	transform: translate(0, -20px);
	transition: transform .3s ease-out;
}

.modal__dialog--lg {
	max-width: 1100px;
}

.modal__dialog--sm {
	max-width: 570px;
}

.modal__dialog--promo {
	max-width: 840px;
}

.modal__content {
	--modal-px: 25px;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 25px var(--modal-px) 20px;
	background-color: var(--white);
	border-radius: var(--radius);
	transition: all 0.3s ease-out;
}

.modal__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 17px var(--modal-px);
	margin: -25px calc(var(--modal-px) * -1) 25px;
	border-bottom: 1px solid var(--border);
}

.modal__title {
	font-size: 24px;
	font-weight: var(--semi);
	line-height: 1.25;
}

.modal__footer {
	margin-left: calc(var(--modal-px) * -1);
	margin-right: calc(var(--modal-px) * -1);
	padding: 20px var(--modal-px) 0;
	border-top: 1px solid var(--border);
}

/* settings */
.section__row {
	--bs-gutter-x: 24px;
}

.settings__section + .settings__section {
	padding-top: 25px;
	margin-top: 5px;
	border-top: 1px solid var(--border);
}

.settings__image {
	flex-shrink: 0;
	width: 90px;
	height: 90px;
	margin-right: 25px;
	border-radius: 50%;
	overflow: hidden;
}

.settings__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* message */
.message {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px;
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
}

.message__content {
	margin-right: 20px;
}

.message__title {
	margin-bottom: 10px;
	color: var(--primary);
	font-size: 24px;
	font-weight: var(--semi);
	line-height: 1.25;
}

/* order */
.order__total {
	color: var(--primary);
	font-size: 24px;
	font-weight: var(--semi);
	line-height: 1;
}

/* order-table */
.order-table {
	padding: 10px 15px;
	background-color: var(--light-gray);
	border-radius: var(--radius);
	width: 100%;
	border-spacing: 0;
	white-space: nowrap;
}

.order-table th,
.order-table td {
	font-size: 14px;
	line-height: 1.2;
}

.order-table th:not(:last-child) {
	padding-right: 30px;
}

.order-table th {
	padding-bottom: 10px;
	border-bottom: 1px solid #E1E1E1;
	font-weight: var(--semi);
	text-align: left;
}

.order-table tbody tr:first-child td {
	padding-top: 10px;
}

/* order-summary */
.order-summary {
	padding: 20px 0;
	border-top: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
}

.order-summary__list {
	line-height: 1.25;
}

.order-summary__item {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

/* blog */
.blog {
	padding: 50px 0;
}

/* blog-card */
.blog-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	overflow: hidden;
}

.blog-card__image-wrap {
	flex-grow: 1;
	position: relative;
	padding-bottom: 63%;
}

.blog-card__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog-card__body {
	position: relative;
	padding: 35px 20px 20px;
	border: 1px solid #D8D8D8;
	border-top: none;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.blog-card__label {
	position: absolute;
	top: 0;
	left: 20px;
	transform: translateY(-50%);
	padding: 6px 10px;
	border-radius: var(--radius);
	background-color: var(--primary);
	color: var(--white);
	font-weight: var(--semi);
	line-height: 1.25;
}

.blog-card__title {
	margin-bottom: 30px;
	font-size: 32px;
	font-weight: var(--semi);
	line-height: 1.4;
}

.blog-card__list {
	display: flex;
	flex-wrap: wrap;
	margin: -5px 0;
}

.blog-card__item {
	display: flex;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 1.5;
}

.blog-card__item:not(:last-child) {
	position: relative;
	margin-right: 15px;
	padding-right: 15px;
}

.blog-card__item:not(:last-child)::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	height: 14px;
	border: 1px solid #D8D8D8;
}

.blog-card__icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	color: #B0B0B0;
}

/* sidebar */
.sidebar__header {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.sidebar__opener {
	position: absolute;
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
	width: 46px;
	height: 46px;
	border-radius: 30px 0px 0px 30px;
	background-color: var(--primary);
	color: var(--white);
}

.sidebar__block {
	padding: 20px;
	border-radius: var(--radius);
	background-color: var(--white);
	box-shadow: var(--box-shadow);
}

/* categories */
.categories__item + .categories__item {
	margin-top: 2px;
}

.categories__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-radius: var(--radius);
	transition: var(--transition);
	line-height: 1.25;
}

.categories__link:hover,
.categories__link--active {
	background-color: var(--primary);
	color: var(--white);
}

.categories__text {
	padding-right: 10px;
}

/* latest */
.latest-list__item + .latest-list__item {
	margin-top: 20px;
}

.latest {
	display: flex;
}

.latest__image {
	position: relative;
	width: 70px;
	height: 70px;
	flex-shrink: 0;
	margin-right: 15px;
	border-radius: var(--radius);
	overflow: hidden;
}

.latest__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.latest__title {
	display: -webkit-box;
	margin-bottom: 8px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.37;
}

.latest__list {
	display: flex;
	flex-wrap: wrap;
}

.latest__data {
	color: var(--primary);
	font-size: 14px;
	font-weight: var(--semi);
	line-height: 1.285;
}

.latest__data:not(:last-child)::after {
	content: '|';
	margin: 0 3px;
}

/* subscribe */
.subscribe {
	background-color: var(--primary);
	box-shadow: none;
	color: var(--white);
}

.subscribe__head {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D53A35;
	line-height: 1.56;
}

.subscribe__title {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: var(--semi);
	line-height: 1.25;
}

/* promo-modal */
.promo-modal {
	padding: 40px;
	background-image: url(../img/decor-01.svg);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.promo-modal__title {
	margin-bottom: 40px;
	font-size: 36px;
}

.promo-modal__left {
	flex: 0 0 auto;
	width: 46%;
}

.promo-modal__right {
	flex: 0 0 auto;
	width: 54%;
}

/* table-filter */
.table-filter {
	display: flex;
}

.table-filter > * {
	flex-grow: 1;
}

.table-filter__select {
	flex: 1 1 165px;
	max-width: 262px;
}

.tabs-items--reset {
	border: none;
	border-radius: 0;
	margin: 0;
}

/* dashboard-charts */
.dashboard-charts {
	padding-top: 30px;
	border-top: 1px solid var(--border);
}

.dashboard-charts + .dashboard-charts {
	margin-top: 30px;
}

.dashboard-charts__card {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: var(--white);
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
}

/* .dashboard-charts__wrapper {
	padding-left: 25px;
	padding-right: 25px;
} */

.dashboard-charts__title {
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 1.11111111111;
}